#sidebar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#sidebar > button {
  background-color: unset;
  border-radius: 50%;
  outline: none;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}

#sidebar > button:nth-child(5) {
  font-weight: 900;
}

#sidebar > button > svg {
  height: 24px;
  width: 24px;
}

/* -------- dark theme ---------- */
#sidebar.dark {
  box-shadow: 0 2px 10px 1px rgba(255, 255, 255, 0.1);
}
#sidebar.dark > button {
  color: white;
  border: 2px solid white;
}
#sidebar.dark > button:hover {
  border: 2px solid gray;
}
#sidebar.dark > button > svg > path {
  fill: white;
}

/* -------- light theme ---------- */
#sidebar.light {
  box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.1);
}
#sidebar.light > button {
  color: black;
  border: 2px solid black;
}
#sidebar.light > button > svg > path {
  fill: black;
}
