@import url('https://fonts.googleapis.com/css?family=Anton|Cabin|Fira+Sans|Merriweather|Montserrat|Pacifico|Playfair+Display|Raleway|Roboto|Roboto+Condensed|Roboto+Mono|Source+Sans+Pro|Ubuntu&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.dark {
  background-color: #1c2126;
  color: #bbbbbb;
}

.light {
  background-color: #f2f2f2;
  color: #5c5c5c;
}
