#book {
  padding: 20px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 2px;
}

*::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
  display: none;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
